html,body,ul,div,li,h1,h2,h3,h4,p,table,tr,td,a{
    margin: 0;
    padding: 0;
}
body{
    background: #f6f7f9;
}
li{
    list-style-type: none;
}
.address{
    cursor: pointer;
    color: #006AFF;
}
.red{
    color: red;
}

